

body { 
    margin: 0;
    color: #E5E5E5;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/* When I change container do the background color with a transition color */
.container {
    display: flex;
    justify-content: space-around;
    background-color: #1B244A;
    max-width: 575px;
    max-height: 385px;
    margin: 25px auto 25px auto;
    border: solid #9AABD8 3px;
    border-radius: 10px;

}

.team {

}

.timer {
    border: solid 1px black;
    text-align: center;
}

