@font-face {
    font-family: "Digital-7";
    src: url('fonts/digital-7.ttf');
}

body { 
    margin: 0;
    color: #E5E5E5;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h3 {
    width: 149px;
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    margin: 0px;
}
/* When I change container do the background color with a transition color */
.container {
    display: flex;
    justify-content: space-around;
    background-color: #1B244A;
    max-width: 575px;
    max-height: 385px;
    margin: 25px auto 25px auto;
    border: solid #9AABD8 3px;
    border-radius: 10px;
    padding: 50px 15px 50px 15px;

}

.timer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    width: 155px;
    height: 120px;
    font-size: 110px;
    font-weight: 500;
    margin: 15px 0px 15px 0px;
    font-family: "Digital-7", Tahoma;
    color: #F94F6D;
    border-radius: 8px;

}

.btn {
    border: solid #9AABD8 2px;
    background: none;
    color: #9AABD8;
    width: 45px;
    height: 45px;
    border-radius: 8px;
    font-family: "Digital-7", Tahoma;
    font-size: 22px;
}

.points-btns {
    display: flex;
    justify-content: space-around;
}

